/*Columbian Imports*/
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);


/*Global Style Declarations*/
body {
    margin: 0;
    padding: 0;
    background-color: black;
}
.vl {
    border-left: 6px solid green;
    height: 500px;
}



/*!*Start Media Queries*!*/
/*!* Small Beta Zoomer devices (phones, 600px and down) *!*/
/*@media only screen and (max-width: 600px) {...}*/

/*!* Karen devices (portrait tablets and large phones, 600px and up) *!*/
/*@media only screen and (min-width: 600px) {...}*/

/*!* Moderate Cuck devices (landscape tablets, 768px and up) *!*/
/*@media only screen and (min-width: 768px) {...}*/

/*!* Normie devices (laptops/desktops, 992px and up) *!*/
/*@media only screen and (min-width: 992px) {...}*/

/*!* Chad X-large devices (large laptops and desktops, 1200px and up) *!*/
/*@media only screen and (min-width: 1200px) {*/
/*}*/
/*!*End Media Queries*!*/


/*Start Navbar*/
.navbar-container {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
}
/*End NavBar*/

/*Start Menu*/
.menu-buttons-container {
    width: 100%;
    display: flex;
}

.menu-buttons {
    flex-grow: 1;
    text-align: center;
    margin: 2px;
}

/*Button Background*/
.btn-funky-moon {
    background: #A770EF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(145deg, #FDB99B, #CF8BF3, #A770EF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(145deg, #FDB99B, #CF8BF3, #A770EF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
}

.select-box {
    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto;
    font-family: "Open Sans", "Helvetica Neue", "Segoe UI", "Calibri", "Arial",
    sans-serif;
    font-size: 18px;
    color: #60666d;
}

.add-movie-form, .search-movie-container {
    margin: 20px;
}
.add-movie-form .title, .search-movie-container .title{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 3.2em;
    line-height: 48px;
    padding-bottom: 48px;
    color: #5543ca;
    background: #5543ca;
    background: -moz-linear-gradient(left,#f4524d  0%,#5543ca 100%) !important;
    background: -webkit-linear-gradient(left,#f4524d  0%,#5543ca 100%) !important;
    background: linear-gradient(to right,#f4524d  0%,#5543ca  100%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.contact-form .form-field, .search-movie-form .form-field {
    position: relative;
    margin: 32px 0;
}
.contact-form .input-text, .search-movie-form .input-text{
    display: block;
    width: 100%;
    height: 36px;
    border-width: 0 0 2px 0;
    border-color: #5543ca;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
}
.contact-form .input-text:focus, .search-movie-form .input-text:focus{
    outline: none;
}
.contact-form .label {
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: #5543ca;
}
.contact-form .submit-btn, .search-movie-form .submit-btn{
    display: inline-block;
    background-color: #000;
    background-image: linear-gradient(125deg,#a72879,#064497);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    padding: 8px 16px;
    border: none;
    width:200px;
    cursor: pointer;
}
/*End Add Movie Form*/
/*End Menu*/


/*Start Movie Container*/
.movie-container {
    background-color: #E6563B;
}
/*End Movie Container*/




/*Staging Branch*/





































